<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <ul class="list-inline mx-auto justify-content-center navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-center text-muted">2022 FYP by Piotr Wojciechowski</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/visualize">Start!</a>
        </li>
    </ul>
</nav>