<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 class="display-4">Arbitrage visualizer</h1>
            <p class="lead">Welcome to the Arbitrage visualizer, written by Piotr Wojciechowski as a Final Year Project in 2022.</p>
            <hr class="my-4">
            <p>Use the navbar above this card to find out about the project, contact the creator or to run the app!</p>
        </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

    </body>
</html>
