<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
    </head>
    <body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to Arbitrage visualizer</p>
    </div>
    <div class="jumbotron">
        <h1>Here's the data</h1>
        <p>
            <%= graph.nodes %>
            <% if(path) { path } else { %>
                <p>No negative cycle found.</p>
            <% } %>
        </p>
        <div id="my_dataviz"></div>
    </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

    </body>
    <script src="https://d3js.org/d3.v7.js">
        var margin = {top: 10, right: 30, bottom: 30, left: 40},
            width = 400 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;
        var svg = d3.select("#my_dataviz")
            .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");
        d3.json(graph, function(data) {
            
        });
    </script>
</html>
